# Virtual environments
.venv/
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# SQLite / Databases
*.db
*.sqlite
*.sqlite3
*.db-journal
*.sqlite-shm
*.sqlite-wal

# Logs / temp
*.log
*.tmp
*.temp
.hintrc

# IDEs
.vscode/
.idea/

# Environment variables
.env
.env.*

# FastAPI / Uvicorn
*.pid
*.sock
*.seed
*.cover

# Build files
build/
dist/
*.egg-info/


# Testing cache
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db
desktop.ini
$RECYCLE.BIN/
.AppleDouble
.LSOverride
*~